
# manpage: https://direnv.net/man/direnv-stdlib.1.html
use nix

# for docker in docker access
sudoIf() { if [ "$(id -u)" -ne 0 ]; then sudo "$@"; else "$@"; fi }
if [[ -f "/var/run/docker.sock" ]]; then
    SOCKET_GID=$(stat -c '%g' /var/run/docker.sock)
    if [ "${SOCKET_GID}" != '0' ]; then
        if [ "$(cat /etc/group | grep :${SOCKET_GID}:)" = '' ]; then sudoIf groupadd --gid ${SOCKET_GID} docker-host; fi
        NONROOT_USER=$(whoami)
        if [ "$(id ${NONROOT_USER} | grep -E "groups=.*(=|,)${SOCKET_GID}\(")" = '' ]; then sudoIf usermod -aG ${SOCKET_GID} ${NONROOT_USER}; fi
    fi
fi

export PROJECT_DIR=$(pwd)
export NIXOS_VERSION_STRING=23.05
export NIXOS_VERSION=nixos-${NIXOS_VERSION_STRING}
export HOME_MANAGER_VERSION_STRING=23.05
export MAIN_NIX_CHANNEL=https://nixos.org/channels/nixos-${NIXOS_VERSION_STRING}
export HOME_MANAGER_CHANNEL=https://github.com/nix-community/home-manager/archive/release-${HOME_MANAGER_VERSION_STRING}.tar.gz
export BOOTSTRAP_NIX_CONFIG=

source_env_if_exists .local.envrc
dotenv_if_exists .local.env