version: '3'
services:
  devcontainer:
    # Using the pre-built NixOS image from GHCR
    image: ghcr.io/lucernae/devcontainer-nix:nixos--nixos-25.11
    privileged: true
    tty: true
    cgroup: host
    
    volumes:
      - ../../:/workspace:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    
    tmpfs:
      - /run:exec,mode=777
      - /run/lock:exec,mode=777

    hostname: nixos-devcontainer

    environment:
      container: "docker"
      LD_LIBRARY_PATH: /lib:/run/current-system/sw/lib
      NIX_REMOTE: "daemon"
      PATH: "/bin:/usr/bin:/usr/sbin:/run/current-system/sw/bin/"
      TMPDIR: "/cont/tmp"
      VSCODE_SERVER_CUSTOM_GLIBC_LINKER: "true"
      
    cap_add:
      - SYS_ADMIN
      - CAP_NET_ADMIN

    stop_signal: SIGRTMIN+3
