version: '3'
services:
  devcontainer:
    # Using the pre-built NixOS image from GHCR
    image: ghcr.io/lucernae/devcontainer-nix:nixos--nixos-25.11
    privileged: true
    tty: true
    
    # Workaround: Create FHS symlinks before starting systemd
    # This allows VS Code to connect to the container (needs /bin/sh)
    entrypoint: ["/workspace/.devcontainer/nixos-local/init-workaround.sh"]
    
    volumes:
      # Mount the workspace
      - ../../:/workspace:cached
      
      # Docker socket for Docker-in-Docker
      - /var/run/docker.sock:/var/run/docker.sock
      
      # Systemd required mounts
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    
    tmpfs:
      - /cont/tmp:exec,mode=777
      - /run
      - /run/wrappers

    hostname: nixos-devcontainer

    environment:
      container: "docker"
      PATH: "/bin:/usr/bin:/usr/sbin:/run/current-system/sw/bin/"
      TMPDIR: "/cont/tmp"
      VSCODE_SERVER_CUSTOM_GLIBC_LINKER: "true"
      
    cap_add:
      - SYS_ADMIN
      - CAP_NET_ADMIN

    stop_signal: SIGRTMIN+3
