source_up
use nix

export IMAGE_TAG=nixos-23.05
# change to linux/arm64 in .local.envrc if you are using Apple Silicon
export DOCKER_PLATFORM=linux/amd64
export DEVCONTAINER_IMAGE_TAG=ghcr.io/lucernae/devcontainer-nix:nixos-dockertools--nixos-unstable---latest


source_env_if_exists .local.envrc