name: build-base
on:
  workflow_dispatch:
  pull_request:
    paths:
      - flake.lock
      - .github/workflows/build-base.yaml
    branches:
      - develop
      - main
  push:
    paths:
      - flake.lock
      - .github/workflows/build-base.yaml
    tags:
      - v*
    branches:
      - develop
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        nix_system:
          - "x86_64-linux"
          - "aarch64-linux"
        nix_channel:
          - "nixos-unstable"
          - "nixos-23.05"
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - uses: cachix/install-nix-action@6a9a9e84a173d90b3ffb42c5ddaf9ea033fad011 # v23
        with:
          nix_path: nixpkgs=channel:${{matrix.nix_channel}}
          extra_nix_config: |
            filter-syscalls = false
            experimental-features = nix-command flakes
            extra-platforms = aarch64-linux
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Nix Build Base Images
        run: |
          nix build '.#packages.${{matrix.nix_system}}.base-devcontainer."${{matrix.nix_channel}}"'
      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Load to local registry and retag
        if: ${{ github.event.pull_request.base.repo.url == github.event.pull_request.head.repo.url }}
        run: |
          export derivation_name=$(nix derivation show '.#packages.${{matrix.nix_system}}.base-devcontainer."${{matrix.nix_channel}}"' | jq '.[].outputs.out.path' -r)
          export tag=$(cat $derivation_name | docker load | awk '{print $3}')
          docker tag $tag ghcr.io/lucernae/devcontainer-nix:base--${{matrix.nix_channel}}---${{matrix.nix_system}}
          docker push ghcr.io/lucernae/devcontainer-nix:base--${{matrix.nix_channel}}---${{matrix.nix_system}}
  manifests-create:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.base.repo.url == github.event.pull_request.head.repo.url }}
    strategy:
      fail-fast: false
      matrix:
        nix_channel:
          - "nixos-unstable"
          - "nixos-23.05"
    needs:
      - build
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create manifests
        run: |
          docker manifest create ghcr.io/lucernae/devcontainer-nix:base--${{matrix.nix_channel}} \
            --amend ghcr.io/lucernae/devcontainer-nix:base--${{matrix.nix_channel}}---x86_64-linux \
            --amend ghcr.io/lucernae/devcontainer-nix:base--${{matrix.nix_channel}}---aarch64-linux
          docker manifest push ghcr.io/lucernae/devcontainer-nix:base--${{matrix.nix_channel}}